<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puppy Dashboard</title>
</head>

<body>
    <h1><%=Dog.name%>'s Dashboard</h1>
    <a href="/">Home</a>
    <a href="/dog/edit/<%=Dog._id%>">Edit</a>
    <hr>
    <div>
        <form action="/dog/<%=Dog._id%>" method="POST">
            Name: <input type="text" name="name" placeholder="<%=Dog.name%>">
            Type: <input type="text" name="type" placeholder="<%=Dog.type%>">
            Fav Food: <input type="text" name="fav_food" placeholder="<%=Dog.favorite_food%>">
            <input type="submit">
        </form>
    </div>
</body>

</html>